<html>
<body>

	<h1 id="postTitle">{{post.title}}</h1>
	<span id="postContent">{{post.content}}</span>
	<hr>

	<h2>Comentarios</h1>
	<ul>
		{{#post.comments}}
		<li>{{.}}</li>
		<form id="deleteCommentForm" action="/post/{{post.id}}/comment/{{id}}/delete" method="post">
			<input type="submit" value="Borrar" />
		</form>
		{{/post.comments}}
	</ul>
	<hr>

	<h1>Nuevo comentario</h1>
	<form id="newCommentForm" action="/post/{{post.id}}/comment" method="post">
		<p>Autor</p>
		<input type="text" name="author"  value="{{userName}}"/>
		<p>Mensaje</p>
		<textarea name="message"></textarea>
		<input type="submit" value="Enviar" />
	</form>

	<hr>
	<a href="/"> Atrás </a>

</body>
</html>